

.section-two {
    width: 100%;
    background-color: black;
    padding-top: 100px;
    padding-bottom: 80px;
}

.decentralized {
    color: white;
    font-size: 60px;
    font-weight: lighter;
    width: 80%;
    padding-left: 110px;
}

.enjoy {
    color: rgb(129, 124, 124);
    font-size: 25px;
}