.roadmap {
    font-size: 60px;
    color: white;
}

.our-vision {
    font-size: 20px;
    color: rgb(219, 211, 211);
}

.section-six {
    background-color: black;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 30px;
}

